@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-color:#292E49;
    --black:rgb(10, 5, 74);
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(4, 13, 75, 0.1);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(4, 13, 75, 0.1);
    --text-shadow:0 1.5rem 3rem rgba(4, 13, 75, 0.1);
}

.info {
    align-items: center;
}
.txt{
    text-align: center;
    color: black;
    float: right;
}
.mtxt{
    color: black;
    text-align: center;
}
.container{
    border-radius: 20px;
    border: solid;
    padding-top: 10px;
    margin-top: 50px;
}
.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color:var(--white);
    text-shadow: var(--text-shadow);
}

.btn:hover{
    background: var(--main-color);
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:var(--black);
}

.header{
    position: sticky;
    top:-20px; left:0; right:0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 10px;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.header .logo{
    font-size: 3rem;
    color:var(--black);
}

.header .navbar a{
    font-size: 1rem;
    margin-left: 2rem;
    color:var(--black);
    text-decoration: none;

}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
    display: none;
}
.image{
    margin:10px;
    border-radius: 50%;
    width: 60px;
    height: 50px;
}
*{
    font-family: 'Nunito';

    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 80%;
    overflow-x: hidden;
}